{{> headers }}

{{> navbar }}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hola {{ capitalizar Nombre }}</h1>
        <p class="lead">Esta es una pagina de prueba (es el Home de nuesto sitio web).</p>
    </div>
</div>

{{> footers }}

